@font-face {
    font-family: 'Futura';
    src: url('../../src/futura/futura\ light\ bt.ttf') format('truetype');
  }
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
body{
    font-family: Futura, Arial, sans-serif;
  font-size: 1.8rem;
  line-height: 1.556;
  height: auto;
  width: 100%;
}

input{
    all: unset;
}
a{
    all:unset;}

#contact-item{
    height: fit-content;
    margin-top: 12%;
    text-align: center;
    align-items: center;
    margin-bottom: 12%;
   
}
#contact-global-text{
    font-weight: 100;
    line-height: 1.5;
    letter-spacing: 0.075em;
    color: rgb(31 86 115);
    font-size: 0.8em;
    width: 80%;
    
    margin: auto; 
    text-align: center; 
    animation: slideInFromRight 2s forwards;

}
#contact-form{
    
    height: 400px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 10% 60% 20% ;
    margin: 10%;
    margin-top: 5px;
    font-size: 0.8em;
    border: 3px solid rgb(31 86 115);
    border-radius: 10px;
    box-shadow: 20px 20px 4px #b3b39b;
    background-color: rgb(247 234 208);
    text-align: start;
    align-items: start;
    animation: slideInFromLeft 2s forwards;
}




.input-box{
    display: flex;
    background-color:rgb(247 234 208);
    border: 0px;
    border-bottom: 2px solid rgb(31 86 115);
    height: 90%;  
}



.contact-input{
    width: 98%;
    margin-left: 2%;
    border-radius: 5px;
    justify-content: flex-start;
    height: 100%;
    
}

#button-container{
    align-items: center;
    text-align: center;
    height: 100%;

}

#submit-button{
    width : fit-content;
    padding-left: 2%;
    padding-right: 2%;
    height: 60%;
    margin: 2%;
    border-radius: 7px;
    background-color: rgb(31 86 115);
    color: white;
    border: 0px;
    align-items: center;
    text-align: center;
    font-size: 0.8em;
}
#submit-button:hover{
    background-color: rgb(39, 116, 157);
}

#media-container{
    margin-top: 2%;
    width: 100%;
    height: 200px;
    background-color:  rgb(31 86 115);
    align-items: center;
    text-align: center;
    
}
#media-grid{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,33%);
    text-align: center;
    align-items: center;
    
}
#media-item{
    
    grid-column: 2/3;
    width: 95%;
    margin-left: 5%;
    height: 100%;
    color : white;
    font-size: 0.8em;
}

#media-list{
    all: unset;
}
#media-list-item{
    all: unset;
}





@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideInFromRight {
    0% {
      transform: translateX(+200%);
    }
    100% {
      transform: translateX(0);
    }
  }