@media (max-width: 1100px) {
    #presentation-item{
        grid-column: 1/6 ;
    grid-row: 1/2;
    font-size: 1.3rem;
    }

    #bottom-line{
        position: absolute;
        left : 5%;
        width: 70%;}


    #contact-item{
        grid-column: 1/6;
        grid-row: 5/7;
}
}